main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
form{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    margin: auto;
}
button{
    width: 100px;
}